/* Styles go here */

 body { margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 10%;
        min-height: 100%;
        background-image: url(images/background.jpeg);
        background-size: 100%;
    }
h1 {color: skyblue;
    display: flex;
    flex: 1;
    font-size: 40px;
    justify-content: center;
    flex-flow: row wrap;
}
div {
  margin: 10px;
  padding: 20px;  
    }
div{ 
  display: flex;
  flex-flow: row wrap;
    }
div> * { 
  flex: 1; 
    }
.row1 { 
  flex: 0 1 100vw; 
    }

button {
  background-color: #F0F4EF;
  color: #022B5F;
  border: 3px solid white;
  margin: 3px;
  padding: 10px;
  border-radius: 50%;
  }
input {
    background-color: pink;
}
ul {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    list-style-type: circle;
    flex: 1;
    background-color: azure;
    font-size: 20px;
    color: deepskyblue;
    padding: 20px;
}
footer {
    display: flex;
    flex-flow: row wrap;
    color: deeppink;
    border-radius: 20%;
    text-align: right;
    padding: 20px;
    border: 2px dotted azure;
}